body {
	margin: 0px;

	}

	.nav-bar {
		background-color: #4a148c;
		width: 100%;
		margin: 0px;
		opacity: 0.9;
		display: flex;
		position: fixed;
		z-index:999;


	}
	.logo-container, .cart-container{
		width:50%;
		padding: 0px;
	}
	.logo {
		height:60px;
		width:190px;
		padding :10px 0px;
		
	}
	
	.scart {
		font-size: 28px;
		color: white;
		padding: 10px 0px;

		

	}
	
	.badge
	{
		
		float: right;
		margin: 15px 5px;
		background-color: white;
		color:#4a148c;

	}

	.cart-button{
		float: right;
		background-color: transparent;
		padding: 0px 0px;
	}

	#banner-name {
		font-size: 80px;
		font-weight: 500;
		font-family: GillSans;
		text-align: center;
		position:absolute;
		top:50%;
		left:50%;
		color:#4a148c;
		transform: translate(-50%, -50%);
		text-shadow:  4px 4px 3px #ffffff;
	}
	.tabs {
   		width:100%;
   		display: flex;



   	}

	.tabs ul{
		
   		list-style:none;
  		margin:0;
   		padding:0px;
   		width:100%;
   		text-align: center;

	}


	.tabs ul li {
		display:inline-block;
   		list-style:none;
   		width: 24%;
   		background-color:#ede7f6;
   		color:#000;
   		text-align: center;
   		padding: 15px 0px;
   		cursor: pointer;
   		margin: 0px -2px;


	}
	
	.tabs li:hover {
		background-color : #4527a0;
		cursor: pointer;
	}
	.tabs li a.active {
		background-color : #37474f;
		color: white;

	}
	.tabs li a{
		text-decoration: none;
		color: black;
		font-size: 20px;
		font-family: GillSans;
	}
	.tabs li a:hover{
		
		color: white;
		font-size: 20px;
		font-family: GillSans;
	}


   	#tab1 {
   		display: block;
   	}
   	.tabContent {
   		display: none;
   		padding: 30px;

   	}

   	.add-to-cart {
   		width:10%;
   		height: 30px;
   		border-radius: 2px;
   		background-color: black;
   	}

   	.image-container{
   		width: 100%;
   		height: 300px;
   	}

  		
   .add-option{
   		width:100%;
   		background-color: #4a148c;
   		border-color: #4a148c;
   		color: white;
   	}

   	.add-option:hover{
   		background-color: transparent;
   		border-color: #4a148c;
   	}
   	.add-option .btn:hover{
   		color: #4a148c;
   		font-weight: 700;
   	}
   	#add-cart-btn{
   		color: white;
   		   		background-color: #4a148c;
   		   		width: 100%;


   	}
   	.price
   	{
   		text-align: center;
   		padding: 10px 0px;
   	}
   	
   	#ptitle{
   		font-weight: 600;
   		font-size: 18px;
   	}
   	#pprice{
		font-weight: 600;
   		font-size: 14px; 
   		 }
   	
   	#options{
font-weight: 600;
   		font-size: 14px;

   		 }
   	.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   	}

  	.card-container{
  	margin-bottom: 30px;
  }
  .banner{
  	height:350px;
  	position: relative;
  	z-index:-1;
  }
  #bann{
  	width: 100%;
  	height:350px;
  	opacity:0.3;
  }
.footer-container
{
	background-color: #4a148c;
	padding: 5px;
}

.footer
{
	color: white;
	margin: 0px;
	padding: 5px;
	font-size: 14px;

}
.fb,.tw,.lnk
{
	padding: 10px 5px;
}

.follow
{
	color: white;
	margin-bottom: 0px;
}


.cart-image{
	display: inline;
	height: 100px;
	width: 100px;
	padding: 20px;
	border-radius: 5px;

}
.mtitle, .mprice, .mquant, .mtotalPrice{
font-style: bold;
display: inline-block;
padding: 15px;
width: 15%;
text-align: center;
}

.remove-btn{
	float: right;
	font-style: bold;
display: inline-block;
padding: 30px 20px;

}
.modal-title{
	font-size: 26px;
	color: floralwhite;
	font-weight: 700;
    font-family: cursive;
}

.modal-header{
	background-color: mediumorchid;
}
#grand-total{
	padding-top: 7px;
    color: floralwhite;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: large;
}

.modal-footer{
	background-color: mediumorchid;
}

#close{
	opacity: .5;
	    margin-top: 10px;

}

.modal-body {
	background-color: ivory;
}



#Proceed{
	border-radius: 30px;
	border-color: black;
	font-weight: 600;
	font-size: large;
}